<div class="row">
	<table ng-if="foundItems.length > 0">
		<thead>
			<tr>
				<th>Name</th>
				<th class="short">Short Name</th>
				<th>Description</th>
				<th class="action"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in foundItems">
				<td>{{item.name}}</td>
				<td>{{item.short_name}}</td>
				<td>{{item.description}}</td>
				<td> <button ng-click="onRemove($index)">Don't want this one!</button> </td>
			</tr>
		</tbody>
	</table>
	<div ng-if="foundItems.length === 0">Nothing found</div>
</div>