.form-container {
  /*position: relative;*/
  /*font-size: 1.2em;*/
  padding-bottom: 10px;
  color: black;
  background-color: beige
}


input {
  font-size: 24px;
  margin-bottom: 10px;
  width: 800px;
}
button {
  font-size: 24px;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}


